@charset "utf-8";
body {
    background-color: #fbfbfb;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
}
h1 {
    background-color: #b300ff;
    color: #e6e6fa;
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 5px #cccccc;
}
h2 {
    background-color: #b300ff;
    color: #e6e6fa;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    font-size: 0.9em;
    text-indent: 3em;
}
ul {
    font-weight: bold;
    color: orange;
}
footer {
    color: #333333;
    font-size: 0.75em;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
}
.cor_texto {
    color: #c70000;
}
p.fundo {
    background-color: rgb(0, 204, 255);
}
p{
    background-color: rgb(119, 0, 255);
}